#btTooltip,
#un-toolbar-tooltip,
#tooltip,
.tooltip,
#aHTMLTooltip,
#urlTooltip,
tooltip
{
  font-size: 0px !important; 
  font-family: tahoma, verdana !important;
  background-color: transparent; !important;
  color: transparent; !important;
  -moz-appearance: none !important;
  border-color: transparent; !important ;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
}